body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgreen;
    box-sizing: border-box;
    user-select: none;
    margin:0px;
    gap:10px;
}

#board {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
    width: min(400px,80vw);
    gap:4px;
    margin: auto;
    position: relative;
}

hr {
    width: min(500px,60vw);
    background-color: white;
    color: white;
}

#header {
    font-size: min(6vw,30px);
    color: white;
    font-weight: bold;
    word-spacing: 2px;
}

.tile {
    /*Box*/
    aspect-ratio: 1 / 1;
    border:min(2px,0.25vw) solid white;

    /*Text*/
    color:white;
    font-size: clamp(5px,2.5vw,12px);
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.correct { 
    background-color: #6AAA64;
    color:white;
    border-color: white;
}

.present {
   background-color: #C9B458;
   color:white;
   border-color: white; 
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color: white;
}

.doubleLetter {
    background-color: lightskyblue;
    color:white;
    border-color: lightblue;
    display:flex;
    align-items: center;
    justify-content: center;
}

.tripleLetter {
    background-color: lightcoral;
    color: white;
    border-color: lightpink;
    display:flex;
    justify-content: center;
    align-items: center;
}

.keycap {
    aspect-ratio: .65 / 1;
    border-radius: 10%;
    background-color:#f5deb3;
    color:black;
    border: solid min(0.5vw,3px) black;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;

}

.keycap:hover {
    background-color: white;
}

.keyLetter {
    aspect-ratio: 1 / 1;
    font-weight: bold;
    font-size: clamp(10px,4.5vw,25px); /* NOTE: font value is set for keyboard */
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}

.keyNum {
    aspect-ratio: 1 / 1;
    font-size: clamp(5px,2.2vw,15px); /* NOTE: font value is set for keyboard */
    font-weight: bold;
    grid-column-start: -2;
    grid-column-end: -1;
    grid-row-start: -2;
    grid-row-end: -1;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

#keyboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: min(95vw,600px);
    height: min(auto,30vh);
    background-color: darkgreen;
    margin: auto;
    gap:min(5px,0.5vh);
}

.keyboardrow {
    flex:1;
    display: grid;
    gap:min(0.2vw,2px);
}

#kbrow1 {
    grid-template-columns: repeat(10,1fr);
}

#kbrow2 {
    grid-template-columns: 0.5fr repeat(9,1fr) 0.5fr;
}

#kbrow3 {
    grid-template-columns: 1fr repeat(7,1fr) 1fr;
}

#notificationBox {
    position: absolute;
    right:50%;
    top:-5%;
    transform: translate(50%,-0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:min(10px,1vh);
}

@keyframes notificationFade {
    0% { opacity: 1 }
    100% { opacity: 0; }
}

.notification {
    background-color: white;
    color: black;
    z-index: 2;
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(8px,1.5vw,15px);
    width: clamp(100px, 20vw, 200px); 
    padding: clamp(12px, 2vw, 20px);
    animation: notificationFade 1.5s cubic-bezier(1,.2,1,0) forwards;
}

#topbar {
    width: 100%; 
    height: clamp(20px, 5vh, 70px);
    background-color: green;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
}

.placeholder {
    width: clamp(20px,5vw,40px);
}

.innerWindow {
    position: absolute;
    transform: translate(50%,-50%);
    width: clamp(280px, 80vw, 600px); 
    height: clamp(200px,60vh,500px);
    right: 50%;
    top: 50%;
    background-color: darkslategray;
    z-index: 3;
    border-radius: 3%;
    color:white;
    display: flex;
    flex-direction: column;
    padding:10px;
    box-shadow: black 5px 5px;
    font-family: monospace;
    text-align: left;
    overflow:scroll;
}

.closeWindowButton {
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    background-color: transparent;
    border: none;
    font-size: clamp(16px,5vw,32px);
    text-align: right;
}

.closeWindowButton:hover {
    color:black;
}

h1,h2,h3,h4,li{
    padding: 0;
    margin: 0;
}

#tutorialButton {
    background-color: transparent;
    border:none;
    color:white;
    font-size: clamp(16px,5vw,32px);
    font-weight: bold;
    width: clamp(20px,5vw,40px);
}

#tutorialButton:hover {
    color: black;
}

.exampleWord {
    display: flex;
    justify-content: left;
    gap:1px;
}

.loadingScreen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: darkgreen;
    z-index: 3;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    white-space: nowrap;
}

.loadText {
    font-family: 'Courier New', Courier, monospace;
    color:white;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: clamp(16px,5vw,32px);
}