body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: darkgreen;
}

#board {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
    width: min(400px,80vw);
    gap:4px;
    margin: auto;
}

hr {
    width: min(500px,60vw);
    background-color: white;
    color: white;
}

#header {
    font-size: clamp(20px,5vw,36px);
    color: white;
    font-weight: bold;
    word-spacing: 2px;
}

.tile {
    /*Box*/
    aspect-ratio: 1 / 1;
    border:0.25vw solid white;

    /*Text*/
    color:white;
    font-size: clamp(5px,2.5vw,12px);
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.correct { 
    background-color: #6AAA64;
    color:white;
    border-color: white;
}

.present {
   background-color: #C9B458;
   color:white;
   border-color: white; 
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color: white;
}

.doubleLetter {
    background-color: lightskyblue;
    color:white;
    border-color: blue;

}

.tripleLetter {
    background-color: lightcoral;
    color: white;
    border-color: red;
 
}

.keycap {
    aspect-ratio: .8 / 1;
    border-radius: 10%;
    background-color:#f5deb3;
    color:black;
    border: solid min(0.5vw,3px) black;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;

}

.keycap:hover {
    background-color: lightgreen;
}

.keyLetter {
    aspect-ratio: 1 / 1;
    font-weight: bold;
    font-size: clamp(10px,4.5vw,25px); /* NOTE: font value is set for keyboard */
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}

.keyNum {
    aspect-ratio: 1 / 1;
    font-size: clamp(5px,2.2vw,15px); /* NOTE: font value is set for keyboard */
    font-weight: bold;
    grid-column-start: -2;
    grid-column-end: -1;
    grid-row-start: -2;
    grid-row-end: -1;
}

#inputKeys {
    height: min(8vw,30px);
    display: flex;
    gap:15vw;
    font-size: clamp(16px,5vw,32px);
}

#inputKeys > button {
    font-family: 'Courier New', Courier, monospace;
    border: .1vw solid darkgray;
    background-color: lightgray;
    color: black;
    font-weight: bold;
}

#inputKeys > button:hover {
    font-family: 'Courier New', Courier, monospace;
    border: .1vw solid darkgreen;
    background-color: black;
    color: white;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

#keyboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: min(95vw,600px);
    height: min(auto,30vh);
    background-color: darkgreen;
    margin: auto;
    gap:min(5px,0.5vh);
}

.keyboardrow {
    flex:1;
    display: grid;
    gap:min(0.2vw,2px);
}

#kbrow1 {
    grid-template-columns: repeat(10,1fr);
}

#kbrow2 {
    grid-template-columns: 0.5fr repeat(9,1fr) 0.5fr;
}

#kbrow3 {
    grid-template-columns: 1fr repeat(7,1fr) 1fr;
}

