body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: darkgreen;
}

#board {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
    width: min(400px,80vw);
    gap:4px;
    margin: auto;
}

hr {
    width: min(500px,60vw);
    background-color: white;
    color: white;
}

#header {
    font-size: clamp(20px,5vw,36px);
    color: white;
    font-weight: bold;
    word-spacing: 2px;
}

.tile {
    /*Box*/
    aspect-ratio: 1 / 1;
    border:0.1vw solid white;

    /*Text*/
    color:white;
    font-size: clamp(16px,5vw,32px);
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.correct { 
    background-color: #6AAA64;
    color:white;
    border-color: white;
}

.present {
   background-color: #C9B458;
   color:white;
   border-color: white; 
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color: white;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    width: min(80vw,400px);
    height: min(auto,30vh);
    background-color: darkgreen;
    margin: auto;
    gap:1px;
}

.keycap {
    aspect-ratio: 1 / 1;

    background-color:lightyellow;
    color:black;
    border: solid 0.2vw black;
    display: grid;
    grid-template-columns: 1fr  3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;

}

.keyLetter {
    aspect-ratio: 1 / 1;
    font-size: clamp(10px,5vw,20px); /* NOTE: font value is set for keyboard */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.keyNum {
    aspect-ratio: 1 / 1;
    font-size: clamp(5px,2.5vw,10px); /* NOTE: font value is set for keyboard */
    font-weight: bold;
    grid-column-start: -2;
    grid-column-end: -1;
    grid-row-start: -2;
    grid-row-end: -1;
}

#inputKeys {
    height: min(8vw,30px);
    display: flex;
    gap:5vw;
    font-size: clamp(16px,5vw,32px);
}

#inputKeys > button {
    font-family: 'Courier New', Courier, monospace;
    border: .1vw solid darkgray;
    background-color: lightgray;
    color: black;
    font-weight: bold;
}

#inputKeys > button:hover {
    font-family: 'Courier New', Courier, monospace;
    border: .1vw solid darkgreen;
    background-color: black;
    color: white;
}

